<!--
 * @Author: Hongliang Lu, lhl@pku.edu.cn
 * @Date: 2024-07-24 16:13:38
 * @LastEditTime: 2024-07-24 16:13:45
 * @FilePath: /AuroraLHL.github.io/_includes/animated-background.html
 * @Description: 
 * Organization: College of Engineering,Peking University.
-->
<div id="animation">
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
  </div>