<!--
 * @Author: Hongliang Lu, lhl@pku.edu.cn
 * @Date: 2024-07-24 15:48:55
 * @LastEditTime: 2024-07-24 15:48:59
 * @FilePath: /AuroraLHL.github.io/_includes/footer-busuanzi.html
 * @Description: 
 * Organization: College of Engineering,Peking University.
-->
<!-- 不蒜子站点统计，放在页脚处 (footer.html 中插入) -->
<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<i class="fa fa-user" aria-hidden="true"></i> <span id="busuanzi_value_site_uv"></span> |
<i class="fa fa-eye" aria-hidden="true"></i> <span id="busuanzi_value_site_pv"></span>